.categoryItems{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.categoryRow {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    /* gap: 30px; */
}

.categoryInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    user-select: none;
}


/* for category show and color selector */
.categoryShow{
    transform: scale(1.5);
}

.categoryColor {
    width: 24px;
    border: none;
    outline: none;
    background-color: transparent;
}

.categoryRow form{
    display: flex;
    gap: 5px;
}

/* for show all and hide all btn */
.categoryBtnContainer{
    display: flex;
    gap: 1px;
    height: 30px;
    justify-content: space-around;
}

.hideAllBtn, .showAllBtn{
    height: 100%;
    width: 50%;
    border: none;
    outline: none;
}

.hideAllBtn:hover,
.showAllBtn:hover {
    background-color: rgb(221, 221, 221);
}

.hideAllBtn:active,
.showAllBtn:active {
    background-color: rgb(204, 204, 204);
}
