/* Sidebar */
.sidebar {
    grid-column: 1/2;
    background-color: white;
    display: grid;
    grid-template-rows: min-content auto;
}

/* Sidebar actions */
.sidebar .actions {
    grid-row: 1/2;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.sidebar .actions button {
    height: 40px;
    width: 100%;
}

form {
    display: grid;
    grid-template-columns: 4fr min-content;
}

.search input {
    grid-column: 1/2;
}

.search button {
    grid-column: 2/3;
}

.search button i {
    font-size: 17px;
    padding: 10px;
}

/* Sidebar categories */
.sidebar .categories {
    grid-row: 2/3;
    background-color: rgb(0, 0, 0);
}

.categories .categoryLabel {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-bottom: 10px;
}

/* Month Select */
.MonthSelect {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.MonthSelect form{
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.MonthSelect label {
    background-color: rgb(182, 182, 182);
    padding: 0px 10px;
    width: 100%;
    /* font-size: 12px; */
    align-items: center;
}

.MonthSelect input{
    height: 100%;
    outline: none;
    border: none;
    padding-left: 20px;
    /* width: 90%; */
    /* font-size: 12px; */
    
}