/* dialog popup */
.summaryModalDisplay {
    display: flex;
    flex-direction: column;

}

#summaryModal {
    border: none;
    align-self: center;
    justify-self: center;
}

#summaryModal::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.spendingDetail{
    display: grid;
    justify-content: center;
    row-gap: 5px;
}
.summaryLine {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    justify-content: center;
}

.summaryLine span{
    padding: 0px;
    margin: 0px;
    font-size: small;
}
.summaryLine .equal{
    justify-content: center;
    display: flex;
}

.summaryLine .name {
    justify-content: end;
    display: flex;
}

.summaryLine .total {
    justify-content: start;
    display: flex;
    padding-right: 10px;
}