* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

html, body{
    height: 100dvh;
}

.container{
    min-height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* Sidebar */
.sidebar{
    grid-column: 1/2;
    background-color: white;
    display: grid;
    grid-template-rows: min-content auto;
}

/* Sidebar actions */
.sidebar .actions {
    grid-row: 1/2;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.sidebar button {
    height: 40px;
    width: 100%;
}

form {
    display: grid;
    grid-template-columns: 4fr min-content;
}

.search input {
    grid-column: 1/2;
}

.search button {
    grid-column: 2/3;
}

.search button i {
    font-size: 17px;
    padding: 10px;
}

/* Sidebar categories */
.sidebar .categories{
    grid-row: 2/3;
    background-color: rgb(0, 0, 0);
}

.categories .categoryLabel{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-bottom: 10px;
}





/* Content */
.content{
    grid-column: 2/3;
    background-color: rgb(255, 255, 255);
}
.pageContainer {
    height: 100%;
    background-color: rgb(255, 255, 255);

    
}

/* AddItemPage */

.pageContainer.addItemPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page.addItemPage{
    background-color: rgb(219, 219, 219);
    height: 500px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.page.addItemPage form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.inputDiv {
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.content textarea, .content input{
    width: 170px;
}

